<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <!--<Properties>-->
    <!--<Property name="filename">D:\temp\test.log</Property>-->
    <!--</Properties>-->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%class{36}-%M-%L] - %msg%xEx%n"/>
        </Console>
        <File name="File" fileName="D:\\temp\\test.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%class{36}-%M-%L] - %msg%xEx%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.yoparty.controller.*" level="INFO">
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>